<div class="item-page__content">
  <%= form_for resource, url: form_url do |f| %>
    <section class="field">
        <div class="field__title">Имя Языка</div>
        <div class="field__content">
          <%= f.text_field :name, class: 'input' %>
        </div>
    </section>

    <section class="field">
        <div class="field__title">Код Языка</div>
        <div class="field__content">
          <%= f.text_field :code, class: 'input' %>
        </div>
    </section>

    <section class="field">
        <div class="field__title">Статус</div>
        <div class="field__content">
          <%= f.check_box :status, class: 'input' %>
        </div>
    </section>

    <section class="field">
      <div class="field__title"></div>
      <div class="field__content">
        <%= f.submit value: 'Создать', class: 'button button--wide item-page__button' %>
      </div>
    </section>
  <% end %>
</div>
