<div class="bg-white pulldown">
    <div class="content content-boxed overflow-hidden">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
                <div class="push-30-t push-20 animated fadeIn">
                    <div class="text-center">
                        <h1 class="h3 push-10-t">Create Account</h1>
                    </div>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'js-validation-register form-horizontal push-50-t push-50' }) do |f| %>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-success">
                                    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                                    <%= f.label :email %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-success">
                                    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                                    <%= f.label :password %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material form-material-success">
                                    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
                                    <%= f.label :password_confirmation %>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                <%= f.submit "Sign up", class: 'btn btn-sm btn-block btn-success' %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'devise/shared/footer' %>
