<section class="catalog-page">
  <header class="item-page__header">
    <h3 class="item-page__title">Field Types</h3>
    <%= link_to 'New Field Type', new_admin_system_entity_field_type_path, class: 'button item-page__submit' %>
  </header>


  <table class="table">
    <%= render 'simple_admin/admin/shared/collection/table_header', column_names: ['#', 'Name', 'Template'] %>

    <tbody class="table__body">
      <% @resources.each do |resource| %>
        <tr class="table__row">
          <td class="table__cell"><%= resource.id %></td>

          <td class="table__cell">
            <%= resource.name %>
          </td>

          <td class="table__cell">
            <%= resource.template %>
          </td>

          <td class="table__cell">
            <%= link_to 'Edit', edit_admin_system_entity_field_type_path(resource), class: 'table__link' %>
          </td>

          <td class="table__cell">
            <%= link_to 'Delete', admin_system_entity_field_type_path(resource), class: 'table__link',
                                                    method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @resources %>
</section>
