<%= form_for form_resource, url: form_url, html: { class: 'form-horizontal' }, remote: true do |f| %>
  <div class="form-group">
      <label class="col-xs-12" for="example-text-input">Name</label>
      <div class="col-sm-9">
          <%= f.select :name, resource.model_klass_name.constantize.column_names.map { |cn| [cn, cn] }, {}, { class: 'form-control' } %>
      </div>
  </div>

  <div class="form-group">
      <label class="col-xs-12" for="example-text-input">Label</label>
      <div class="col-sm-9">
          <%= f.text_field :label, class: 'form-control' %>
      </div>
  </div>

  <div class="form-group">
      <label class="col-xs-12" for="example-text-input">Type</label>
      <div class="col-sm-9">
        <%= f.select :entity_field_type_id, SimpleAdmin::EntityFieldType.all.collect { |ft| [ft.name, ft.id] }, {}, { class: 'form-control' } %>
      </div>
  </div>

  <div class="form-group">
      <label class="col-xs-12" for="example-text-input">Presentation</label>
      <div class="col-sm-9">
        <%= f.select :presentation, SimpleAdmin::EntityField.presentations.keys, {}, { class: 'form-control' } %>
      </div>
  </div>

  <%= f.hidden_field :entity_id, value: resource.to_param %>

  <% if form_resource.entity_field_setting.present? %>
    <%= f.fields_for :entity_field_setting do |ef| %>
      <div class="form-group">
          <label class="col-xs-12" for="example-text-input">Relation Attribute</label>
          <div class="col-sm-9">
              <%= ef.text_field :value, class: 'form-control' %>
          </div>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
      <label class="col-xs-12" for="example-text-input">Search Indexable</label>
      <div class="col-sm-9">
          <%= f.check_box :search_indexable %>
      </div>
  </div>

  <% if form_resource.persisted? %>
    <div class="form-group col-sm-9">
        <%= f.submit class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Delete', admin_system_entity_field_path(form_resource), class: 'btn btn-sm btn-danger', method: :delete, remote: true, data: { confirm: t('simple_admin.actions.confirm') } %>
    </div>
  <% else %>
    <div class="form-group">
      <div class="col-sm-9">
        <%= f.submit class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>
