<%= form_for resource, url: form_url, html: { class: 'form-horizontal' } do |f| %>
    <section class="field">
        <div class="field__title">Email</div>
        <div class="field__content">
          <%= f.text_field :email, class: 'input' %>
        </div>
    </section>

    <%= f.fields_for :profile do |pf| %>
      <section class="field">
          <div class="field__title">First Name</div>
          <div class="field__content">
            <%= pf.text_field :first_name, class: 'input' %>
          </div>
      </section>

      <section class="field">
          <div class="field__title">Last Name</div>
          <div class="field__content">
            <%= pf.text_field :last_name, class: 'input' %>
          </div>
      </section>
    <% end %>

    <% if resource.persisted? %>
      <%= render 'change_password', f: f %>
    <% else %>
      <input type="hidden" name="password_change" value="true">
      <%= render 'password_fields', f: f %>
    <% end %>

    <section class="field">
      <div class="field__title"></div>
      <div class="field__content">
        <%= f.submit class: 'button button--wide item-page__button' %>
      </div>
    </section>
<% end %>
