<%= form_for resource, url: form_url, html: { class: 'form-horizontal' } do |f| %>
    <div class="form-group">
        <label class="col-xs-12" for="example-text-input">Email</label>
        <div class="col-sm-9">
            <%= f.text_field :email, class: 'form-control' %>
        </div>
    </div>

    <%= f.fields_for :profile do |pf| %>
      <div class="form-group">
          <label class="col-xs-12" for="example-text-input">First name</label>
          <div class="col-sm-9">
              <%= pf.text_field :first_name, class: 'form-control' %>
          </div>
      </div>

      <div class="form-group">
          <label class="col-xs-12" for="example-text-input">Last name</label>
          <div class="col-sm-9">
              <%= pf.text_field :last_name, class: 'form-control' %>
          </div>
      </div>
    <% end %>

    <div class="form-group">
        <label class="col-xs-12" for="example-text-input">Password</label>
        <div class="col-sm-9">
            <%= f.password_field :password, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-12" for="example-text-input">Password confirmation</label>
        <div class="col-sm-9">
            <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <%= f.submit class: 'btn btn-sm btn-primary' %>
        </div>
    </div>
<% end %>
