<nav id="sidebar">
    <div id="sidebar-scroll">
        <div class="sidebar-content">
            <div class="side-header side-content bg-white-op">
                <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                    <i class="fa fa-times"></i>
                </button>
                <%= link_to admin_posts_path, class: 'h5 text-white' do %>
                  <span class="h4 font-w600 sidebar-mini-hide">simpleadmin</span>
                <% end %>
            </div>
            <div class="side-content side-content-full">
                <ul class="nav-main">
                    <%= render 'simple_admin/admin/shared/dynamic_resources' %>

                    <li>
                      <%= link_to admin_posts_path do %>
                        <i class="si si-docs"></i>
                        <span class="sidebar-mini-hide">Posts</span>
                      <% end %>
                    </li>

                    <li>
                      <%= link_to admin_comments_path do %>
                        <i class="si si-docs"></i>
                        <span class="sidebar-mini-hide">Comments</span>
                      <% end %>
                    </li>

                    <li>
                      <%= link_to admin_categories_path do %>
                        <i class="si si-folder"></i>
                        <span class="sidebar-mini-hide">Categories</span>
                      <% end %>
                    </li>

                    <li class="nav-main-heading">
                      <span class="sidebar-mini-hide">System</span>
                    </li>

                    <li>
                      <%= link_to admin_system_settings_path do %>
                        <i class="si si-settings"></i>
                        <span class="sidebar-mini-hide">Settings</span>
                      <% end %>
                    </li>

                    <li>
                      <%= link_to admin_system_plugin_types_path do %>
                        <i class="si si-wrench"></i>
                        <span class="sidebar-mini-hide">Plugins</span>
                      <% end %>
                    </li>

                    <li>
                      <%= link_to admin_system_users_path do %>
                        <i class="si si-users"></i>
                        <span class="sidebar-mini-hide">Users</span>
                      <% end %>
                    </li>

                    <% if can? :read, SimpleAdmin::Entity %>
                      <li>
                        <%= link_to admin_system_entities_path do %>
                          <i class="si si-docs"></i>
                          <span class="sidebar-mini-hide">Entities</span>
                        <% end %>
                      </li>
                    <% end %>

                    <% if can? :read, SimpleAdmin::EntityFieldType %>
                      <li>
                        <%= link_to admin_system_entity_field_types_path do %>
                          <i class="si si-drawer"></i>
                          <span class="sidebar-mini-hide">Field Types</span>
                        <% end %>
                      </li>
                    <% end %>

                </ul>
            </div>
        </div>
    </div>
</nav>
