<nav id="sidebar">
    <div id="sidebar-scroll">
        <div class="sidebar-content">
            <div class="side-header side-content bg-white-op">
                <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                    <i class="fa fa-times"></i>
                </button>
                <%= link_to admin_root_path, class: 'h5 text-white' do %>
                  <span class="h4 font-w600 sidebar-mini-hide">simpleadmin</span>
                <% end %>
            </div>
            <div class="side-content side-content-full">
                <ul class="nav-main">
                  <% SimpleAdmin::Entity.enabled.each do |entity| %>
                    <li>
                      <%= link_to resource_link(entity.model_klass.new, :index) do %>
                        <i class="si si-docs"></i>
                        <span class="sidebar-mini-hide"><%= entity.label %></span>
                      <% end %>
                    </li>
                  <% end %>


                    <li class="nav-main-heading">
                      <span class="sidebar-mini-hide">System</span>
                    </li>

                    <% SimpleAdmin::Config.menu_items.each do |menu_item| %>
                      <li>
                        <%= link_to resource_index_path(menu_item.route.resource_name) do %>
                          <i class="si <%= menu_item.icon %>"></i>

                          <span class="sidebar-mini-hide">
                            <%= menu_item.label %>
                          </span>
                        <% end %>
                      </li>
                    <% end %>

                    <% if can? :read, SimpleAdmin::Entity %>
                      <li>
                        <%= link_to admin_system_entities_path do %>
                          <i class="si si-docs"></i>
                          <span class="sidebar-mini-hide">Entities</span>
                        <% end %>
                      </li>
                    <% end %>

                    <% if can? :read, SimpleAdmin::EntityFieldType %>
                      <li>
                        <%= link_to admin_system_entity_field_types_path do %>
                          <i class="si si-drawer"></i>
                          <span class="sidebar-mini-hide">Field Types</span>
                        <% end %>
                      </li>
                    <% end %>

                </ul>
            </div>
        </div>
    </div>
</nav>
