<aside class="aside">
  <div class="logo">Simple Admin</div>

  <div class="aside__container">
    <div class="nav-group <%= resource_active_link(admin_root_path) %>">
      <%= link_to  'Dashboard', admin_root_path, class: 'nav-group__item nav-group__title' %>
    </div>

    <div class="nav-group <%= resource_active_link(admin_posts_path) %>">
      <%= link_to  'Posts', admin_posts_path, class: 'nav-group__item nav-group__title' %>
    </div>

    <div class="nav-group <%= resource_active_link(admin_categories_path) %>">
      <%= link_to  'Categories', admin_categories_path, class: 'nav-group__item nav-group__title' %>
    </div>

    <div class="nav-group">
      <div class="nav-group__item nav-group__title">Design</div>
      <%= link_to 'Layouts', admin_design_layouts_path, class: 'nav-group__item' %>
    </div>

    <div class="nav-group <%= resource_system_active_link %>">
      <div class="nav-group__item nav-group__title">System</div>
      <%= link_to 'Settings', admin_system_settings_path, class: 'nav-group__item' %>
      <%= link_to 'Plugins', admin_system_plugin_types_path, class: 'nav-group__item' %>
      <%= link_to 'Languages', admin_system_languages_path, class: 'nav-group__item' %>
      <%= link_to 'Users', admin_system_users_path, class: 'nav-group__item' %>

      <% if can? :read, SimpleAdmin::Entity %>
        <%= link_to 'Entities', admin_system_entities_path, class: 'nav-group__item' %>
      <% end %>

      <% if can? :read, SimpleAdmin::EntityFieldType %>
        <%= link_to 'Field Types', admin_system_entity_field_types_path, class: 'nav-group__item' %>
      <% end %>
    </div>
  </div>
</aside>
