<nav id="sidebar">
    <div id="sidebar-scroll">
        <div class="sidebar-content">
            <div class="side-header side-content bg-white-op">
                <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                    <i class="fa fa-times"></i>
                </button>
                <%= link_to admin_root_path, class: 'h5 text-white' do %>
                  <span class="h4 font-w600 sidebar-mini-hide">simpleadmin</span>
                <% end %>
            </div>
            <div class="side-content side-content-full">
                <ul class="nav-main">
                  <% SimpleAdmin::Entity.enabled.each do |entity| %>
                    <li>
                      <%= link_to resource_link(entity.model_klass.new, :index) do %>
                        <i class="si si-docs"></i>
                        <span class="sidebar-mini-hide"><%= entity.label %></span>
                      <% end %>
                    </li>
                  <% end %>


                    <li class="nav-main-heading">
                      <span class="sidebar-mini-hide"><%= t('simple_admin.system') %></span>
                    </li>

                    <li>
                      <%= link_to admin_system_entities_path do %>
                        <i class="si si-docs"></i>
                        <span class="sidebar-mini-hide"><%= t('activerecord.models.simple_admin/entity.many') %></span>
                      <% end %>
                    </li>

                    <li>
                      <%= link_to admin_system_entity_field_types_path do %>
                        <i class="si si-drawer"></i>
                        <span class="sidebar-mini-hide"><%= t('activerecord.models.simple_admin/entity_field_type.many') %></span>
                      <% end %>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>
