<section class="field">
  <div class="field__title">Имя Поля</div>

  <div class="field__content">
    <div class="select__wrapper">
      <% if defined?(entity_field) %>
        <%= f.select :name, entity.model_klass_name.constantize.column_names.map { |cn| [cn, cn] }, { selected: entity_field.name }, { class: 'select' } %>
      <% else %>
        <%= f.select :name, entity.model_klass_name.constantize.column_names.map { |cn| [cn, cn] }, {}, { class: 'select' } %>
      <% end %>
    </div>
  </div>
</section>

<section class="field">
    <div class="field__title">Заголовок Поля</div>
    <div class="field__content">
      <%= f.text_field :label, class: 'input' %>
    </div>
</section>


<section class="field">
  <div class="field__title">Тип Поля</div>

  <div class="field__content">
    <div class="select__wrapper">
      <%= f.select :entity_field_type_id, SimpleAdmin::EntityFieldType.all.collect { |ft| [ft.name, ft.id] }, {}, { class: 'select' } %>
    </div>
  </div>
</section>

<section class="field">
  <div class="field__title">Отображение Поля</div>

  <div class="field__content">
    <div class="select__wrapper">
      <%= f.select :display, SimpleAdmin::EntityField.displays.keys, {}, { class: 'select' } %>
    </div>
  </div>
</section>

<%= f.hidden_field :entity_id, value: params[:id] %>
