<%= form_for resource, url: form_url, html: { class: 'form-horizontal' } do |f| %>
    <div class="form-group">
        <label class="col-xs-12" for="example-text-input">Model Class Name</label>
        <div class="col-sm-9">
            <% if SimpleAdmin::Base.custom_model_names.present? %>
              <%= f.select :model_klass_name, SimpleAdmin::Base.custom_model_names, {}, { class: 'form-control' } %>
            <% else %>
              <%= f.select :model_klass_name, SimpleAdmin::Base.custom_model_names, { include_blank: "Application don't have any models" }, { class: 'form-control' } %>
            <% end %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-12" for="example-text-input">Model Plural Name</label>
        <div class="col-sm-9">
            <%= f.text_field :model_plural_name, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-12" for="example-text-input">Label</label>
        <div class="col-sm-9">
            <%= f.text_field :label, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-12" for="example-text-input">Status</label>
        <div class="col-sm-9">
            <%= f.check_box :status %>
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-12">
            <%= f.submit class: 'btn btn-sm btn-primary' %>
        </div>
    </div>
<% end %>
