<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
              Entities
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
          <%= link_to 'New Entity', new_admin_system_entity_path, class: 'btn btn-minw btn-success' %>
        </div>
    </div>
</div>


<div class="content">
  <div class="row">
    <div class="col-lg-12">
        <div class="block">
            <div class="block-content">
              <table class="table table-responsive table-striped table-borderless table-header-bg">
                  <%= render 'simple_admin/admin/shared/collection/table_header', column_names: ['#', 'Model Class Name', 'Label', 'Status'] %>

                  <tbody>
                      <% @resources.each do |resource| %>
                        <tr>
                            <td class="text-center"><%= resource.id %></td>

                            <td>
                              <%= resource.model_klass_name %>
                            </td>

                            <td>
                              <%= resource.label %>
                            </td>

                            <td>
                              <%= resource.status_humanized %>
                            </td>

                            <td class="text-center">
                                <div class="btn-group">
                                    <%= link_to edit_admin_system_entity_path(resource), class: 'btn btn-xs btn-default' do %>
                                      <i class="fa fa-pencil"></i>
                                    <% end %>

                                    <%= link_to admin_system_entity_path(resource), class: 'btn btn-xs btn-default', method: :delete, data: { confirm: t('simple_admin.actions.confirm') } do %>
                                      <i class="fa fa-times"></i>
                                    <% end %>
                                </div>
                            </td>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
            </div>
        </div>
    </div>
  </div>
</div>
