<section class="catalog-page">
  <header class="item-page__header">
    <h3 class="item-page__title"><%= t('.title') %></h3>
    <%= link_to t('admin.create'), new_admin_entity_path(current_locale), class: 'button item-page__submit' %>
  </header>

  <table class="table">
    <%= render 'admin/shared/table_header', field_names: [:id, :name] %>

    <tbody class="table__body">
        <% @resources.each do |resource| %>
          <tr class="table__row">
            <td class="table__cell">
              <span>
                <%= resource.id %>
              </span>
            </td>

            <td class="table__cell">
              <span>
                <%= resource.name %>
              </span>
            </td>

            <%= render 'admin/shared/collection_actions', resource: resource %>
          </tr>
        <% end %>
    </tbody>

  </table>
</section>
