.content.clearfix.bkg-gradient-royal-garden
  .section-block.replicable-content.window-height.bkg-heavy-rain-gradient
    .row.flex.v-align-middle
      .column.width-6.offset-3
        .signup-box.box.rounded.xlarge.bkg-white
          %h3.center
            = t('forgot_password.title')
          %p.mb-20.center
            = t('forgot_password.description')

          .login-form-container
            = form_for(User.new, as: :user, url: password_path(:user)) do |f|
              .row
                .column.width-12
                  .field-wrapper
                    %label.color-charcoal
                      = t('forgot_password.form.email.label')
                    = f.email_field :email, placeholder: t('forgot_password.form.email.placeholder'), required: true, class: 'form-username form-element rounded medium'

                .column.width-12
                  = f.submit t('forgot_password.form.submit'), class: 'form-submit button rounded medium bkg-blue bkg-hover-blue color-white color-hover-white mb-0'

                  %p.text-small.mt-20
                    = t('forgot_password.notice')
                    = link_to t('forgot_password.notice_button'), new_user_session_path
