<div class="signin">
  <h2 class="signin__title">Забыли пароль?</h2>
  <div class="signin__form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

        <%= f.label(:email, class:"signin__label") do%>
            <%= f.email_field :email, autofocus: true, placeholder: "Ваш логин или email", class: "input input--full-width input--slim signin__input" %>
            <svg class="signin__login-icon" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <path d="M8 8c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" fill="#BFC5C7" fill-rule="nonzero"></path>
                <path d="M-4-4h24v24H-4"></path>
              </g>
            </svg>
        <% end %>

      <div class="actions">
        <button class="button signin__submit" type="submit">Восстановить</button>
      </div>
    <% end %>
  </div>

<%= render "devise/shared/links" %>
