<tr class="table__row">
  <td class="table__cell">
    <span>
      <%= resource.id %>
    </span>
  </td>

  <td class="table__cell">
    <span>
      <%= resource.label %>
    </span>
  </td>

  <td class="table__cell">
    <%= link_to 'Добавить', resource_new_path, class: 'table__link' %>
  </td>

  <td class="table__cell">
    <% if resource.enabled? %>
      <%= link_to 'Отключить', '#', class: 'table__link' %>
    <% else %>
      <%= link_to 'Включить', '#', class: 'table__link' %>
    <% end %>
  </td>

</tr>
