<div class="aside__container">
  <% SimpleAdmin::Entity.all.each do |entity| %>
    <div class="nav-group <%= resource_active_link(resource_collection_link(entity, current_locale)) %>">
      <%= link_to t(resource_collection_title(entity)), resource_collection_link(entity, current_locale), class: 'nav-group__item nav-group__title' %>
    </div>
  <% end %>

  <div class="nav-group <%= resource_system_active_link %>">
    <div class="nav-group__item nav-group__title"><%= t('simple_admin.admin.system.title') %></div>
    <%= link_to t('simple_admin.admin.system.settings.index.title'), admin_system_settings_path(current_locale), class: 'nav-group__item' %>
    <%= link_to t('simple_admin.admin.system.languages.index.title'), admin_system_languages_path(current_locale), class: 'nav-group__item' %>
    <%= link_to t('simple_admin.admin.system.entities.index.title'), admin_system_entities_path(current_locale), class: 'nav-group__item' %>
    <%= link_to t('simple_admin.admin.system.entity_field_types.index.title'), admin_system_entity_field_types_path(current_locale), class: 'nav-group__item' %>
  </div>
</div>
