<div class="aside__container">
  <div class="nav-group">
    <%= link_to 'Записи', admin_posts_path, class: 'nav-group__item nav-group__title' %>
  </div>

  <div class="nav-group">
    <%= link_to 'Категории', admin_categories_path, class: 'nav-group__item nav-group__title' %>
  </div>


  <div class="nav-group">
    <div class="nav-group__item nav-group__title">Настройки</div>
    <%= link_to 'Типы полей', admin_entity_field_types_path, class: 'nav-group__item' %>
    <%= link_to 'Языки', admin_languages_path, class: 'nav-group__item' %>
    <%= link_to 'Модели', admin_entities_path, class: 'nav-group__item' %>
  </div>
</div>
