<%= form_for form_resource, url: form_url, html: { class: 'form-horizontal' }, remote: true do |f| %>
  <%= f.hidden_field :object_id, value: resource.id  %>
  <%= f.hidden_field :object_type, value: resource.class %>

  <%= f.hidden_field :related_object_type, value: resource.class %>

  <section class="field">
      <div class="field__title">Related Post</div>
      <div class="field__content">
          <div class="select__wrapper">
              <%= f.select :related_object_id, SimpleAdmin::Post.all.collect { |record| [record.title, record.id] }, {}, { class: 'select' } %>
          </div>
      </div>
  </section>

  <% if form_resource.persisted? %>
    <section class="field">
      <div class="field__title"></div>
      <div class="field__content">
        <%= f.submit class: 'button button--wide item-page__button' %>
        <%= link_to 'Delete', admin_related_item_path(form_resource), class: 'button button--wide item-page__button', method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
      </div>
    </section>
  <% else %>
    <section class="field">
      <div class="field__title"></div>
      <div class="field__content">
        <%= f.submit class: 'button button--wide item-page__button' %>
      </div>
    </section>
  <% end %>

<% end %>
