<%= form_for form_resource, url: form_url, html: { class: 'form-horizontal' }, remote: true do |f| %>
  <section class="field">
    <div class="field__title">Plugin</div>
    <div class="field__content">
        <div class="select__wrapper">
          <%= f.select :plugin_id, SimpleAdmin::Plugin.all.collect { |ft| [ft.name, ft.id] }, {}, { class: 'select' } %>
        </div>
    </div>
  </section>

  <section class="field">
      <div class="field__title">Sort order</div>
      <div class="field__content">
        <%= f.text_field :sort_order, class: 'input' %>
      </div>
  </section>

  <%= f.hidden_field :layout_id, value: resource.id %>

  <% if form_resource.persisted? %>
    <section class="field">
      <div class="field__title"></div>
      <div class="field__content">
        <%= f.submit class: 'button button--wide item-page__button' %>
        <%= link_to 'Delete', admin_design_layout_plugin_path(form_resource), class: 'button button--wide item-page__button', method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
      </div>
    </section>
  <% else %>
    <section class="field">
      <div class="field__title"></div>
      <div class="field__content">
        <%= f.submit class: 'button button--wide item-page__button' %>
      </div>
    </section>
  <% end %>
<% end %>
