<%= paginator.render do -%>
  <div class="row">
    <div class="col-sm-6">
      <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">
        Showing <strong><%= resources_pagination_start(per_page, current_page) %></strong>-<strong><%= resources_pagination_end(per_page, current_page) %></strong> of
        <strong><%= total_resources %></strong>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
        <ul class="pagination">
          <%= prev_page_tag %>
          <% each_page do |page| -%>
            <% if page.display_tag? -%>
              <%= page_tag page %>
            <% elsif !page.was_truncated? -%>
              <%= gap_tag %>
            <% end -%>
          <% end -%>
            <%= next_page_tag  %>
        </ul>
      </div>
    </div>
  </div>
<% end -%>
