= paginator.render do
  %nav
    %ul.pagination.pagination-lg
      = first_page_tag unless current_page.first?

      - each_page do |page|
        - if page.display_tag?
          = page_tag page
        - elsif !page.was_truncated?
          = gap_tag

      - unless current_page.out_of_range?
        = last_page_tag unless current_page.last?
