<section class="catalog-page">
  <header class="item-page__header">
    <h3 class="item-page__title"><%= t('.title') %></h3>
    <%= link_to t('admin.create'), new_admin_entity_path, class: 'button item-page__submit' %>
  </header>

  <table class="table">
    <%= render 'admin/shared/table_header', field_names: @resource_settings.collection %>

    <tbody class="table__body">
        <% @entities.each do |entity| %>
          <tr class="table__row">
            <td class="table__cell">
              <span>
                <%= entity.id %>
              </span>
            </td>

            <td class="table__cell">
              <span>
                <%= entity.name %>
              </span>
            </td>

            <%= render 'admin/shared/collection_actions', resource: entity %>
          </tr>
        <% end %>
    </tbody>

  </table>
</section>
