<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= body_class %>">
  <main class="main">
    <div class="content">
      <%= yield %>

      <%= render "javascript" %>
    </div>
  </main>
</body>
</html>
