<section class="item-page">
  <header class="item-page__header">
      <h3 class="item-page__title">Редактировать профиль</h3>
  </header>

  <%= form_for current_user, url: admin_profile_path(current_user, current_locale) do |f| %>
    <section class="field">
        <div class="field__title">Email</div>
        <div class="field__content">
          <%= f.text_field :email, class: 'input' %>
        </div>
    </section>

    <%= f.fields_for :profile do |pf| %>
      <section class="field">
          <div class="field__title">Имя</div>
          <div class="field__content">
            <%= pf.text_field :first_name, class: 'input' %>
          </div>
      </section>

      <section class="field">
          <div class="field__title">Фамилия</div>
          <div class="field__content">
            <%= pf.text_field :last_name, class: 'input' %>
          </div>
      </section>

      <section class="field">
          <div class="field__title">Аватар</div>
          <div class="field__content">
              <label class="image__label">
                  <%= f.file_field :avatar, class: 'image' %>
              </label>
          </div>
      </section>


      <h5 class="item-page__description">Социальные сети</h5>

      <section class="field">
          <div class="field__title">Twitter</div>
          <div class="field__content">
            <%= pf.text_field :twitter_nickname, class: 'input' %>
          </div>
      </section>
    <% end %>

    <section class="field">
      <div class="field__title"></div>
      <div class="field__content">
        <%= f.submit class: 'button button--wide item-page__button' %>
      </div>
    </section>
  <% end %>
</section>
