<section class="catalog-page">
  <header class="item-page__header">
    <h3 class="item-page__title"><%= t('.title') %></h3>
    <%= link_to t('simple_admin.admin.create'), new_admin_system_language_path(current_locale), class: 'button item-page__submit' %>
  </header>

  <table class="table">
    <%= render 'simple_admin/admin/shared/table_header', field_names: [:id, :name, :code, :status] %>

    <tbody class="table__body">
      <% if @resources.present? %>
        <% @resources.each do |resource| %>
          <tr class="table__row">
            <td class="table__cell">
              <span>
                <%= resource.id %>
              </span>
            </td>

            <td class="table__cell">
              <span>
                <%= resource.name %>
              </span>
            </td>

            <td class="table__cell">
              <span>
                <%= resource.code %>
              </span>
            </td>

            <td class="table__cell">
              <span>
                <%= resource.status.humanize %>
              </span>
            </td>

            <td class="table__cell">
              <%= link_to t('simple_admin.admin.edit'), edit_admin_system_language_path(resource), class: 'table__link' %>
            </td>

            <td class="table__cell">
              <%= link_to t('simple_admin.admin.destroy'), admin_system_language_path(resource), class: 'table__link',
                                                      method: :delete, data: { confirm: t('simple_admin.admin.confirm_destroy') } %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <p>Not found</p>
      <% end %>
    </tbody>
  </table>
</section>
