<%= form_for form_resource, url: form_url, html: { class: 'form-horizontal' }, remote: true do |f| %>
  <div class="form-group">
      <label class="col-xs-12" for="example-text-input">Action</label>

      <div class="col-sm-9">
        <%= f.text_field :action, class: 'form-control' %>
      </div>
  </div>

  <div class="form-group">
      <label class="col-xs-12" for="example-text-input">Action Modificator</label>

      <div class="col-sm-9">
        <%= f.text_field :action_modificator, class: 'form-control' %>
      </div>
  </div>

  <div class="form-group">
      <label class="col-xs-12" for="example-text-input">Model Class</label>

      <div class="col-sm-9">
        <%= f.text_field :model_klass_name, class: 'form-control' %>
      </div>
  </div>

  <%= f.hidden_field :role_id, value: resource.id %>

  <% if form_resource.persisted? %>
    <div class="form-group col-sm-9">
        <%= f.submit class: 'btn btn-sm btn-primary' %>
        <%= link_to 'Delete', admin_system_user_permission_path(form_resource), class: 'btn btn-sm btn-danger', method: :delete, remote: true, data: { confirm: t('simple_admin.actions.confirm') } %>
    </div>
  <% else %>
    <div class="form-group">
      <div class="col-sm-9">
        <%= f.submit class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>
