<section class="catalog-page">
  <header class="item-page__header">
    <h3 class="item-page__title">Plugins</h3>
  </header>

  <table class="table">
    <%= render 'simple_admin/admin/shared/collection/table_header', column_names: ['#', 'Name', 'Status'] %>

    <tbody class="table__body">
      <% @resources.each do |resource| %>
        <tr class="table__row">
          <td class="table__cell"><%= resource.id %></td>

          <td class="table__cell">
            <%= resource.name %>
          </td>

          <% if resource.active? %>
            <td>
              <%= resource.status_humanized %>
            </td>
          <% else %>
            <td>
              <%= resource.status_humanized %>
            </td>
          <% end %>

          <%= render_plugin_actions(resource) %>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
