<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
              <%= t('simple_admin.resource.index.title', resource_name: @resource_name.pluralize) %>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
          <%= link_to t('simple_admin.resource.new.title', resource_name: @resource_name), resource_link(@entity.model_klass.new, :new), class: 'btn btn-minw btn-success' %>
        </div>
    </div>
</div>


<div class="content">
  <div class="row">
    <div class="col-lg-12">
        <div class="block">
            <div class="block-content">
                <div class="row">
                  <table class="table table-responsive table-striped table-borderless table-header-bg">
                      <%= render 'simple_admin/admin/shared/collection/table_header', column_names: @entity_fields.labels %>
                      <tbody>
                          <% @resources.each do |resource| %>
                            <tr>
                                <% @entity_fields.latest.each do |entity_field| %>
                                  <%= render entity_field.template_path, field: entity_field, resource: resource %>
                                <% end %>

                                <td class="text-center">
                                    <div class="btn-group">
                                        <%= link_to resource_link(resource, :edit), class: 'btn btn-xs btn-default' do %>
                                          <i class="fa fa-pencil"></i>
                                        <% end %>

                                        <%= link_to resource_link(resource, :destroy), class: 'btn btn-xs btn-default', method: :delete, data: { confirm: t('simple_admin.actions.confirm') } do %>
                                          <i class="fa fa-times"></i>
                                        <% end %>
                                    </div>
                                </td>
                            </tr>
                          <% end %>
                      </tbody>
                  </table>
                </div>

                <% if @resources.present? %>
                  <%= paginate @resources, total_resources: @resources.total_count %>
                <% end %>

            </div>
        </div>
    </div>
  </div>
</div>
