<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Simple Admin</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&amp;subset=cyrillic" rel="stylesheet">
    <%= stylesheet_link_tag 'simple_admin/base', media: 'all' %>
  </head>
  <body>
    <%= render "shared/flash" %>
    <%= render "layouts/header" %>
    <div class="page-content__wrapper">
      <%= render "layouts/aside" %>

      <section class="page-content">
        <%= yield %>
      </section>
    </div>
    <%= javascript_include_tag 'simple_admin/base', 'data-turbolinks-track' => true %>
  </body>
</html>
