<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Simple Admin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'simple_admin/application', media: 'all' %>
  </head>
  <body>
    <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">
      <%= render 'simple_admin/admin/shared/aside' %>
      <%= render 'simple_admin/admin/shared/header' %>

      <main id="main-container">
        <%= yield %>
      </main>

      <%= render 'simple_admin/admin/shared/footer' %>
    </div>

    <%= javascript_include_tag 'simple_admin/application', 'data-turbolinks-track' => true %>
  </body>
</html>
